*/.vscode/*
*/build/*
cmake_test/.vscode
cmake_test/build 


example_cmake/build
example_cmake/.vscode 


open3d_test/.vscode
open3d_test/build


slam_example/useEigen/.vscode 
slam_example/useEigen/build 

catkin_ws
